In [3]:
import pandas as pd

In [4]:
data=pd.read_csv(r"C:\Users\vigne\Downloads\Social_Network_Ads.csv")
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [5]:
x=data.iloc[:,0:2]
x #for selecting features

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [6]:
y=data.iloc[:,2].values
y.shape

(400,)

In [7]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=1)

In [8]:
from sklearn.preprocessing import StandardScaler # Std scalar rescaling the value with normalised parameters(Exp)
ss=StandardScaler()
x_train=ss.fit_transform(x_train) # xtrain = training input samples
x_test=ss.transform(x_test) # xtest - testing input samples

In [9]:
from sklearn.ensemble import RandomForestClassifier

clfr=RandomForestClassifier(n_estimators=10,criterion='entropy',random_state=0)

clfr.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [10]:
from sklearn.ensemble import RandomForestClassifier

clfr1=RandomForestClassifier(n_estimators=10,criterion='gini',random_state=0)

clfr1.fit(x_train,y_train) # perform better than entropy (impurity of split)

RandomForestClassifier(n_estimators=10, random_state=0)

In [11]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

ypre=clfr1.predict(x_test)# entropy ypre calculation

ypre1=clfr1.predict(x_test)# gini ypre calculation

In [12]:
print('entropy Accuracy Score:')
accuracy_score(y_test,ypre)*100

entropy Accuracy Score:

88.75

In [13]:
print('gini Accuracy Score:')
accuracy_score(y_test,ypre1)*100

gini Accuracy Score:

88.75

In [14]:
print('entropy - confusion matrix\n--------------------\n')
print(confusion_matrix(y_test,ypre))
print('gini - confusion matrix\n--------------------\n')
print(confusion_matrix(y_test,ypre1))

entropy - confusion matrix
--------------------

[[42  6]
 [ 3 29]]
gini - confusion matrix
--------------------

[[42  6]
 [ 3 29]]

In [15]:
print('entropy result\n--------------')
print(classification_report(y_test,ypre))
print('gini index result\n----------------------')
print(classification_report(y_test,ypre1))

entropy result
--------------
              precision    recall  f1-score   support

           0       0.93      0.88      0.90        48
           1       0.83      0.91      0.87        32

    accuracy                           0.89        80
   macro avg       0.88      0.89      0.88        80
weighted avg       0.89      0.89      0.89        80

gini index result
----------------------
              precision    recall  f1-score   support

           0       0.93      0.88      0.90        48
           1       0.83      0.91      0.87        32

    accuracy                           0.89        80
   macro avg       0.88      0.89      0.88        80
weighted avg       0.89      0.89      0.89        80

In [16]:
#naive bayes:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=1)

In [17]:
from sklearn.naive_bayes import GaussianNB

Gmodel=GaussianNB()

In [18]:
Gmodel.fit(x_train,y_train)

Gtrain_pre=Gmodel.predict(x_train)
Gtest_pre=Gmodel.predict(x_test)

In [19]:
import numpy as np

Gmodel_acc_train=np.mean(Gtrain_pre==y_train)
Gmodel_acc_test=np.mean(Gtest_pre==y_test)

In [20]:
print('gaussian nb - training accuracy:',Gmodel_acc_train*100,'%')
print('gaussian nb - testing accuracy:',Gmodel_acc_test*100,'%')

gaussian nb - training accuracy: 90.0 %
gaussian nb - testing accuracy: 86.25 %

In [21]:
#Linear Regression
from sklearn.linear_model import LinearRegression

In [22]:
lin=LinearRegression()

In [23]:
model=lin.fit(x,y)

ypre=model.predict(x)

In [24]:
from sklearn.metrics import mean_squared_error

In [25]:
mse=mean_squared_error(y,ypre)
rmse=np.sqrt(mse)

scr=lin.score(x,y)

In [26]:
print('training time errors:',scr)
print('testing time errors:',rmse)

training time errors: 0.45965539005388634
testing time errors: 0.35229785657992607

In [27]:
print('models - accuracy score is:',((100-(rmse*100))),'%')

models - accuracy score is: 64.77021434200739 %

In [28]:
# As per the dataset Navie Baye's Algorithm fits the given dataset model